.container {
    width: 576px;
}
.menu .menu__items {
    display: none;
}
.menu__item__mobile {
    display: flex;
}
.banner {
    flex-direction: column;
}
.run {
    flex-direction: column;
}
.card {
    flex-direction: column;
}
.grid__part {
    grid-template-columns: 300px;
}
